{% extends "base_parking.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main_page.css" %}">
{% endblock css %}

{% block content %}
    <h2>Vagas disponíveis</h2>
    <section>
        {% for parking in unoccupied_parking_spaces %}
            <div id="parking_spaces">
                <a href="{% url "apps:parking_space_history" parking.id %}"><span>Vaga {{ parking.id }}</span></a>
            </div>
        {% endfor %}
    </section>
{% endblock content %}