{% extends "base_parking.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/registered_drivers.css" %}">
{% endblock css %}

{% block content %}
    <h2>Automóveis cadastrados</h2>
    <section>
        <form action="{% url "apps:plate_search" %}" method="post">
            {% csrf_token %}
            Placa do veículo: {{ form.plate_search }}
            <input type="submit" value="Buscar">
        </form>
    </section>
    <section>
        {% for auto in all_registered_autos %}
            <div id="registered_drivers">
                <span>Motorista: {{ auto.driver }}</span>
                <span>Modelo: {{ auto.model }}</span>
                <span>Placa: {{ auto.autos_plate }}</span>
            </div>
        {% endfor %}
    </section>
{% endblock content %}